/* admin css */

:root {
  --teal: #67c7ed;
  --teal-hover: #277c9e;
}

/* font */
* {
  font-family: "Poppins", sans-serif;
}

.h-font {
  font-family: "Merienda", cursive;
}

/* input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield;
}

/* button */
.custom-bg {
  background-color: var(--teal);
  border: 1px solid var(--teal);
}

.custom-bg:hover {
  background-color: var(--teal-hover);
  border-color: var(--teal-hover);
}

/* header line */
.h-line {
  width: 150px;
  margin: 0 auto;
  height: 1.7px;
}

/* alert */
.custom-alert {
  position: fixed;
  top: 25px;
  right: 25px;
}
